numpy
opencv-python-headless
torch >1.6
torchvision
mmdet >=3.0.0
protobuf >= 3.15.2
grpcio >= 1.37.0
grpcio-tools >= 1.37.0
pid
pyyaml
simecy @ git+https://github.com/captainfffsama/simple_encryption.git@v0.2#egg=simecy